* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containter {
  text-align: center;
}
#clock {
  font-size: 5rem;
  color: #00ffe7;
  text-shadow: 0 0 10px #00ffe7, 0 0 20px #00ffe7;
}
